# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio cache
.vscode/
.plastic/

# Others
*.pidb
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.DS_Store